@model Login

<form action="login" method="post">
    <h1>Login</h1>
    <span asp-validation-for="loginEmail"></span><br>
    <label asp-for="loginEmail">Email: </label>
    <input asp-for="loginEmail"></input><br>

    <span asp-validation-for="loginPassword"></span><br>
    <label asp-for="loginPassword">Password: </label>
    <input asp-for="loginPassword"></input><br>

    <input type="submit" value="Login">
</form>