@model Register

<form action="register" method="post">
    <h1>Register</h1>
    <span asp-validation-for="firstName"></span><br>
    <label asp-for="firstName">First Name: </label>
    <input asp-for="firstName"></input><br>

    <span asp-validation-for="lastName"></span><br>
    <label asp-for="lastName">Last Name: </label>
    <input asp-for="lastName"></input><br>

    <span asp-validation-for="email"></span><br>
    <label asp-for="email">Email: </label>
    <input asp-for="email"></input><br>

    <span asp-validation-for="password"></span><br>
    <label asp-for="password">Password: </label>
    <input asp-for="password"></input><br>

    <span asp-validation-for="confirmPassword"></span><br>
    <label asp-for="confirmPassword">Confirm Password: </label>
    <input asp-for="confirmPassword"></input><br>

    <input type="submit" value="Sign Up">
</form>